<html>
    <head>
        <title>Lista</title>
    </head>
    <body>
        {{#if pessoas}}
            <div>
                <h1>Lista de Pessoas</h1>
                <ul>
                    {{#each pessoas}}
                        <li>{{this.nome}} - {{this.idade}}</li>
                    {{/each}}
                </ul>
            </div>
        {{else}}
            <h1>Nenhuma pessoa cadastrada</h1>
        {{/if}}
        {{> voltar}}
    </body>
</html>