<html>
    <head>
        <title>Menu Principal</title>
    </head>
    <body>
        {{>cabecalho}}
        <h1>Menu Principal</h1>
        <ul>
            <li> <a href="formulario.html">Login </a> </li>
        </ul>
        {{> rodape}}
    </body>
</html>